<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        $title | Area
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Area Layout</h1>
    <div id="sidebar">
        <MenuBar />
    </div>
    <DemoContainer>
        <DemoContainer>
            <div id="content">
                <slot></slot>
            </div>
        </DemoContainer>
    </DemoContainer>
    <script src="/assets/app.js" async defer></script>
</body>

</html>