<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        $title | Viewi
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <CssBundle links="{['/mui.css', '/app.css']}" combine minify purge />
</head>

<body>
    <Portal name="header" />
    <div id="sidebar">
        <MenuBar />
        <Portal to="body">
            <div class="footer mui--text-center">
                Footer from portal
                <h4>Page title</h4>
                <div>$title</div>
            </div>
        </Portal>
    </div>
    <DemoContainer>
        <DemoContainer>
            <div id="content">
                <slot></slot>
            </div>
        </DemoContainer>
    </DemoContainer>
    <Portal name="body" />
    <ViewiAssets />
</body>

</html>