<Layout title="$title">
    <h1>$title</h1>
    <p>
        Using JS library marked to render markdown on client-side.
    </p>
    <p>
        File: server\viewi-app\js\modules\CustomJsPage\index.ts
    </p>
    <pre>import \{ marked } from 'marked';
import \{ CustomJsPage } from '../../app/CustomJsPage/components/CustomJsPage';

CustomJsPage.prototype.getMarkedHtml = function (this: CustomJsPage) \{
    return marked(this.markText);
};

export const modules = \{ CustomJsPage };</pre>
    <h3>Input</h3>
    <label for="markdown-text">
        Enter some markdown
    </label>
    <div>
        <textarea id="markdown-text" rows="10" model="$markText" style="width: 100%;"></textarea>
    </div>
    <h3>Input:</h3>
    <div>
        <pre>$markText</pre>
    </div>
    <h3>Output:</h3>
    <div>{{getMarkedHtml($markText)}}</div>
</Layout>