<div class="menu-bar">
    <div class="mui--text-white mui--text-display1 mui--align-vertical">
        <ViewiIcon /> My App
    </div>
    <div class="">
        <ul class="mui-list--unstyled mui--text-menu" style="padding: 10px 8px;line-height: 32px;font-size: 16px;">
            <li>
                <a href="/" class="mui--text-light">Home</a>
            </li>
            <li>
                <a href="/counter" class="mui--text-light">Counter</a>
            </li>
            <li>
                <a href="/todo" class="mui--text-light">Todo</a>
            </li>
            <li>
                <a href="/post/1" class="mui--text-light">Post 1</a>
            </li>
            <li>
                <a href="/lazy-post/10" class="mui--text-light">Lazy Post 10</a>
            </li>
            <li>
                <a href="/test" class="mui--text-light">Test</a>
            </li>
            <li>
                <a href="/marked" class="mui--text-light">Marked JS lib</a>
            </li>
            <li>
                <a href="/layout-test" class="mui--text-light">Layout Test</a>
            </li>
            <li>
                <a href="/member" class="mui--text-light">Member page</a>
            </li>
            <li>
                <a href="/member-no-access" class="mui--text-light">No access test</a>
            </li>
            <li>
                <a href="/not-found-page" class="mui--text-light">Not Found Page</a>
            </li>
        </ul>
        <div>
            <button class="mui-btn mui-btn--accent" (click)="goHome">Home page</button>
            <button class="mui-btn mui-btn--accent" (click)="back">Back</button>
            <p class="mui--bg-primary-light">
                Url: {getCurrentUrl()}
            </p>
        </div>
    </div>
</div>