<svg width="46" height="46" version="1.1" viewBox="0 0 529.17 529.17" xmlns="http://www.w3.org/2000/svg"
    xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Viewi logo</title>
    <defs>
        <linearGradient id="linearGradient2928">
            <stop stop-color="#4158d0" offset="0" />
            <stop stop-color="#c850c0" offset=".36562" />
            <stop stop-color="#ffcc70" offset="1" />
        </linearGradient>
        <linearGradient id="linearGradient2872" x1="-12.77" x2="641.86" y1="541.94" y2="65.436"
            gradientTransform="matrix(.90626 0 0 .90626 24.802 24.802)" gradientUnits="userSpaceOnUse"
            xlink:href="#linearGradient2928" />
        <linearGradient id="linearGradient2888" x1="30.651" x2="622.21" y1="498.52" y2="124.86"
            gradientUnits="userSpaceOnUse" xlink:href="#linearGradient2928" />
    </defs>
    <rect x="30.651" y="30.651" width="467.87" height="467.87" rx="23.393" ry="23.393" fill="none"
        stroke="url(#linearGradient2872)" stroke-width="42.333" style="mix-blend-mode:normal" />
    <g>
        <g fill="url(#linearGradient2888)" stroke-width=".12277" aria-label="V">
            <path
                d="m142.61 112.45 109.01 182.56v121.71l-169.33-284.69 60.325-19.579zm244.48 0-109.54 182.56v121.71l169.33-284.69-59.796-19.579z"
                fill="url(#linearGradient2888)" stroke-width=".12277" />
        </g>
    </g>
</svg>